<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADSo SENA CBA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>ADSo SENA CBA</h1>
        <p>Tu tienda de confianza para productos de jardinería.</p>
    </header>
    
    <nav>
        <a href="{{ url_for('login_route') }}" class="btn">Iniciar Sesión</a>
    </nav>
</body>
</html>
